body {
    color: rgb(242, 235, 235);
    background: rgb(221, 145, 165);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(42, 300, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(230, 195, 195);
}

.chamada {
    background: rgb(204, 104, 152);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(254, 246, 246);
}

.categoria h2 {
    color: rgb(240, 230, 230);
}